.container {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    min-width: 0;
    /* Prevents flex items from overflowing */
}